// Fancify tables

$row-color-header   : hsl(220, 100%, 88%);
$row-color-even     : hsl(220, 90%, 96%);
$row-color-even-alt : hsl(220, 63%, 94%);
$row-color-odd      : hsl(0, 0%, 100%);

table {
  border-top         : 1px solid hsl(0, 0%, 80%);
  border-left        : 1px solid hsl(0, 0%, 80%);
  tr { border-bottom : 1px solid hsl(0, 0%, 80%);
    &:nth-child(even) td { background : $row-color-even; }
    &:nth-child(odd)  td { background : $row-color-odd;  } }
  td, th { border-right : 1px solid hsl(0, 0%, 80%); }
  thead td, tfoot td, th {
    // Fancy headers
    @include background-image( linear-gradient( hsl(0, 0%, 93%), hsl(0, 0, 80%) ) );
    @include box-shadow( inset 0 1px 0 white );
    background-color : hsl(  0,  0%, 85%  );
    color            : hsl(  0,  0%, 6.66%);
    text-shadow      : 0 1px 0 white; } }
