// ===== Nightflash UI ======================================================== //

body {
  background-color: hsl(0, 0%,  18%);
  color:            hsl(0, 0%, 100%); }

form {
  & > fieldset {
    @include border-radius(5px);
    @include box-shadow(0px 1px 1px hsla(0, 0%, 100%, 0.2), inset 0 2px 3px hsla(0, 0%, 0%, 0.3));
    background-color: hsla(0, 0%, 0%, 0.1);
    border:           1px solid hsl(0, 0%, 0%);
    margin-bottom:    1em;
    padding:          20px 20px 10px;
    ol { list-style: none; margin: 0; }
    label { display: inline-block; }
  } }

button, input[type='button'],
input[type='submit'], input[type='reset'] {
  @include border-radius( 3px );
  @include background-image( linear-gradient( lighten(hsl(0, 0%, 40%), 5%), lighten(hsl(0, 0%, 10%), 5%) 50%, lighten(hsl(0, 0%, 2%), 5%) 50%, hsl(0, 0%, 0%) ) );
  @include box-shadow( 0px 1px 1px hsla(0, 0%, 100%, 0.15), inset 0 1px 0 hsla(0, 0%, 100%, 0.15) );
  background-color: hsl(0, 0%, 0%);
  border:           1px solid hsl(0, 0%, 0%);
  color:            hsl(0, 0%, 100%);
  height:           24px;
  margin-bottom:    0.55em;
  margin-right:     0.55em;
  max-width:        100px;
  min-width:        75px;
  padding-left:     12px;
  padding-right:    12px;
  text-shadow:      0 1px 0 hsl(0, 0%, 0%);
  &:before {
    font:           1.2em / 0 "Pictos", sans-serif;
    content:        attr(data-icon);
    margin-right:   0.4em; }
  &:not(:disabled):hover {
    @include background-image( lighten(hsl(0, 0%, 40%), 15%), lighten(hsl(0, 0%, 10%), 15%) 50%, lighten(hsl(0, 0%, 2%), 15%) 50%, hsl(0, 0%, 0%) );
    background-color: hsl(0, 0%, 10%); }
  &:not(:disabled):active {
    @include background-image( lighten(hsl(0, 0%, 40%), 5%), lighten(hsl(0, 0%, 10%), 5%) 50%, lighten(hsl(0, 0%, 2%), 5%) 50%, hsl(0, 0%, 0%) );
    @include box-shadow( 0px 1px 1px hsla(0, 0%, 100%, 0.15), inset 0 2px 10px hsla(0, 0%, 0%, 0.7) );
    background-color: hsl(0, 0%, 5%);
    color: hsl(0, 0%, 67%); }
  &:disabled { cursor: default; opacity: 0.3; } }

input[type='text'],     input[type='password'],   input[type='search'],
input[type='email'],    input[type='url'],        input[type='tel'],
input[type='number'],   input[type='color'],      input[type='keygen'],
input[type='date'],     input[type='month'],      input[type='week'],  input[type='time'],
input[type='datetime'], input[type='datetime-local'], textarea {
  @include border-radius( 3px );
  @include box-shadow( 0px 1px 1px hsla(0, 0%, 100%, 0.15), inset 0 2px 10px hsla(0, 0%, 0%, 0.7) );
  background-color: hsl(0, 0%, 20%);
  border:           1px solid hsl(0, 0%, 0%);
  color:            hsl(0, 0%, 100%);
  height:           25px;
  line-height:      25px;
  vertical-align:   middle;
  margin-bottom:    0.55em;
  outline:          none;
  padding:          2px 4px;
  width:            200px;
  &:focus { background: hsl(0, 0%, 26%); }
  &[type='date'] {
    width: 150px;
    // background:             #323232 image-url('nightflash/icons/date.png') no-repeat right 2px
    background-color: hsl(0, 0%, 20%);
    &:focus {
      background-color: hsl(0, 0%, 26%); } }
  &[required] {
    // background:               #323232 image-url('nightflash/icons/required.png') no-repeat right 2px
    background-color: hsl(0, 0%, 20%);
    &:focus {
      background-image: none;
      background: hsl(0, 0%, 26%); }
    &:valid {
      background-image: none; } } }

input[type='password'] {
  font-weight: bold;
  text-shadow: 2px 2px 0px hsl(0, 0%, 0%); }

input[type='search'] {
  @include appearance(textfield);
  @include border-radius( 15px );
  height: 24px; }

textarea {
  height: 150px;
  width: 90%; }

select:not([multiple]):not([size]) {
  @include border-radius(3px);
  @include appearance("none");
  background-color: transparent;
  @include background-image( linear-gradient( lighten(hsl(0, 0%, 40%), 5%), lighten(hsl(0, 0%, 10%), 5%) 50%, lighten(hsl(0, 0%, 2%), 5%) 50%, hsl(0, 0%, 0%) ) );
  @include box-shadow( 0px 1px 1px hsla(0, 0%, 100%, 0.15), inset 0 1px 0 hsla(0, 0%, 100%, 0.15) );
  border:         1px solid hsl(0, 0%, 0%);
  color:          hsl(0, 0%, 100%);
  height:         26px;
  margin-bottom:  0.55em;
  outline:        none;
  text-indent:    10px;
  width:          200px;
  &:hover, &:focus {
    @include background-image( linear-gradient( lighten(hsl(0, 0%, 40%), 15%), lighten(hsl(0, 0%, 10%), 15%) 50%, lighten(hsl(0, 0%, 2%), 15%) 50%, hsl(0, 0%, 0%) ) ); }
  &:active {
    @include background-image( linear-gradient( lighten(hsl(0, 0%, 40%), 5%), lighten(hsl(0, 0%, 10%), 5%) 50%, lighten(hsl(0, 0%, 2%), 5%) 50%, hsl(0, 0%, 0%) ) );
    @include box-shadow( 0px 1px 1px hsla(0, 0%, 100%, 0.15), inset 0 2px 10px hsla(0, 0%, 0%, 0.7) ); } }

select[size], select[multiple] {
  @include border-radius( 3px );
  @include box-shadow( 0px 1px 1px hsla(0, 0%, 100%, 0.15), inset 0 2px 10px hsla(0, 0%, 0%, 0.7) );
  background-color: hsl(0, 0%, 20%);
  border:           1px solid hsl(0, 0%, 0%);
  color:            hsl(0, 0%, 100%);
  height:           118px;
  height:           18px;
  line-height:      18px;
  margin-bottom:    0.55em;
  outline:          none;
  padding:          2px 4px;
  width:            200px;
  option:nth-child(even) {
    background:     hsla(0, 0%, 100%, 0.06); } }

select[size] {
  height: 100px;
  width: 200px;
  margin-bottom: 0.55em; }
