
// umbrUI radio buttons by @simurai

// <input type="radio" name="radio" data-icon="❮❮">
// <input type="radio" name="radio" data-icon="►">
// <input type="radio" name="radio" data-icon="❯❯">

// ===== radio ================================================================ //

input[type="radio"] {
  $experimental-support-for-microsoft : false;
  $experimental-support-for-mozilla   : false;
  $experimental-support-for-opera     : false;
  $experimental-support-for-khtml     : false;

  @include appearance( none ); // Remove Safari default //
  outline          : none;
  width            : 68px;
  height           : 80px;

  position         : relative;
  display          : inline-block;
  margin           : 3px;
  border-radius    : 6px;

  background-color : #000;

  @include background-clip( padding-box );

  border           : 0;
  border-bottom    : 1px solid rgba(255,255,255,0.1);

  @include perspective(200);

  &:before {
    content         : attr(data-icon);

    font            : 22px/22px sans-serif;
    text-shadow     : rgba(255,255,255,0.08) 0 -1px 0;
    line-height     : 40px;

    text-align      : center;

    position        : absolute;
    z-index         : 10;

    width           : 60px;
    height          : 70px;

    margin          : 4px;
    border-radius   : 3px;

    @include background-image( linear-gradient( hsl(0,0%,20%), hsl(0,0%,15%) ) );

    border-top: 1px solid rgba(255,255,255,0.15); }


  &:after {
    content         : "";
    z-index         : 12;
    position        : absolute;

    margin          : 3px;
    border-radius   : 3px;

    left            : 6px;
    top             : 62px;
    width           : 50px;
    height          : 5px;

    @include box-shadow( inset rgba(0,0,0,.2) 0 -1px 2px, inset rgba(255,255,255,.1) 0 1px 1px ); }


// Checked ============================ //

  &:active, &:checked {
    @include box-shadow( inset #000  4px 0px 4px, inset #000 -4px 0px 4px );
    @include background-image( linear-gradient( hsl(0,0%,10%) 0, hsl(0, 0%, 30%) 0.14, hsl(0, 0%, 0%) 0.15 ) ); //}
    //background-image: -webkit-gradient(
    //    linear, left top, left bottom,
    //    color-stop( 0,      hsl(0,0%,10%) ),
    //    color-stop( 0.14,   hsl(0,0%,30%) ),
    //    color-stop( 0.15,   hsl(0,0%,0%) )
    //);


    &:before {
      @include background-image( linear-gradient( hsl(0,0%,19%), hsl(0,0%,12%) ) );

      z-index       :        11;
      border        : 0;
      border-top    : 1px solid transparent;
      -webkit-border-image: -webkit-gradient(linear, 0% 0%, 100% 0%,
                              color-stop(0,  hsla(200,100%,85%,.05)),
                              color-stop(.5, hsl(200,0%,40%)),
                              color-stop(1,  hsla(200,100%,80%,.05))
                              )50% 100%;
      @include box-shadow( 0px 2px 1px 1px hsl( 0, 0%, 13%) );
      @include transform( rotateX(-25deg) scaleX(.95) translateY(4px) );
  } }

  &:checked:before {
    color           : hsl(200,100%,50%);
    text-shadow     : rgba(0,0,0,.5) 0 1px 1px, #0589c8 0 0 10px;
    -webkit-border-image: -webkit-gradient(linear, 0% 0%, 100% 0%,
                            color-stop(0,  hsla(200,100%,85%,.05)),
                            color-stop(.5, hsl(200,20%,50%)),
                            color-stop(1,  hsla(200,100%,80%,.05))
                            )50% 100%;
  }

  &:active:after, &:checked:after {
    top: 59px;
    opacity: .4;
    @include transform( scale(.9) );
  }


// hover ============================== //

  &:hover   { cursor: pointer; }
  &:checked { cursor: default; }
  &:hover:before {         @include background-image( linear-gradient( hsl(0, 0%, 19.5%), hsl(0, 0%, 14%) ) ); }
  &:checked:hover:before { @include background-image( linear-gradient( hsl(0, 0%, 19%  ), hsl(0, 0%, 12%) ) ); }
}