
// umbrUI range slider by @simurai

// <input type="range">


// ===== Range Slider ========================================================= //

input[type="range"] {
  @include appearance( none );   // Remove Safari default
  outline          : none;
  width            : 250px;
  height           : 5px;
  border-radius    : 1px;
  position         : relative;

  background-color : #000;

  @include background-clip( padding-box );
  border           : 0;
  border-bottom    : 1px solid rgba(255,255,255,0.1);
  cursor           : ew-resize;
  &::-webkit-slider-thumb {
    @include appearance( none );   // Remove Safari default
    position: relative;
    z-index:        1;

    width: 26px;
    height: 40px;
    border-radius: 3px / 6px ;

    @include background-image( linear-gradient( left,
        hsl(0, 0%, 15%) 0   ,
        hsl(0, 0%, 22%)  .16,
        hsl(0,0%,30%) .18,
        hsl(0,0%,26%) .2,

        hsl(200,60%,30%) .42,
        hsl(200,0%,15%) .44,
        hsl(200,100%,50%) .46,
        hsl(200,100%,50%) .54,
        hsl(200,0%,15%) .56,
        hsl(200,60%,30%) .58,

        hsl(0,0%,26%) .8,
        hsl(0,0%,30%) .82,
        hsl(0,0%,22%) .84,
        hsl(0,0%,15%) 1 ) );

    @include box-shadow(
        inset hsla(0, 0%, 100%, .15) 0 1px 0px,

               hsl(0, 0%,  17%) 0 2px 0px,
               hsl(0, 0%,  15%) 0 4px 0px,
               hsl(0, 0%,  13%) 0 6px 0px,

              hsla(0, 0%,   0%, .5 ) 0 8px 5px);

    @include transform( translateY(-3px) );
    -webkit-box-reflect:    below 0px -webkit-gradient(linear, left top, left bottom,
                            from(transparent), color-stop(0.6, transparent), to( rgba(255,255,255,0.3) ));
  }

  &:hover::-webkit-slider-thumb {
    @include background-image( linear-gradient( left,
      hsl(0,0%,15%) 0,
      hsl(0,0%,22%) .16,
      hsl(0,0%,29%) .18,
      hsl(0,0%,25%) .2,

      hsl(200,60%,29%) .42,
      hsl(200, 0%,15%) .44,
      hsl(200,80%,45%) .46,
      hsl(200,80%,45%) .54,
      hsl(200, 0%,15%) .56,
      hsl(200,60%,29%) .58,

      hsl(0,0%,25%) .8,
      hsl(0,0%,29%) .82,
      hsl(0,0%,22%) .84,
      hsl(0,0%,15%) 1 ) );
  }

  &:active::-webkit-slider-thumb {
    @include background-image( linear-gradient( left,
      hsl(0,0%,15%) 0,
      hsl(0,0%,22%) .16,
      hsl(0,0%,30%) .18,
      hsl(0,0%,26%) .2,

      hsl(0,0%,30%) .42,
      hsl(0,0%,45%) .44,
      hsl(200,100%,12%) .46,
      hsl(200,100%,12%) .54,
      hsl(0,0%,45%) .56,
      hsl(0,0%,30%) .58,

      hsl(0,0%,26%) .8,
      hsl(0,0%,30%) .82,
      hsl(0,0%,22%) .84,
      hsl(0,0%,15%) 1 ) );
  }

  &:active {
    @include background-image( linear-gradient( left,
      hsl(200,80%,45%) 0,
      hsl(200,80%,15%) .08,
      hsl(200,80%,0%) .5,
      hsl(200,80%,15%) .92,
      hsl(200,80%,45%) 1 ) );
    @include box-shadow( inset #000 1px 1px 1px, inset #000 -1px -1px 1px );
  }
}

