// ===== Diagnostics ========================================================== //

// ===== X-Ray ================================================================ //

@mixin x-ray_outline {
  * *:hover,
  * * *:hover,
  * * * *:hover,
  * * * * *:hover,
  * * * * * *:hover,
  * * * * * * *:hover,
  * * * * * * * *:hover,
  * * * * * * * * *:hover {
    outline: 2px dotted hsl(357, 79%, 45%); } }

@mixin x-ray_ID {
  * *:hover:after,
  * * *:hover:after,
  * * * *:hover:after,
  * * * * *:hover:after,
  * * * * * *:hover:after,
  * * * * * * *:hover:after,
  * * * * * * * *:hover:after,
  * * * * * * * * *:hover:after {
    content:    attr(id);
    display:    block;
    position:   absolute;
    color:      hsl(0, 0%, 20%);
    padding:    3px 5px;
    background: hsl(60, 100%, 93%);
    border:     1px solid silver;
    z-index:    10;
    text-decoration: none;
    font: normal normal normal 10px / 1em "Lucida Grande", Lucida, Verdana, sans-serif; } }

@mixin x-ray_CLASS {
  * *:hover:after,
  * * *:hover:after,
  * * * *:hover:after,
  * * * * *:hover:after,
  * * * * * *:hover:after,
  * * * * * * *:hover:after,
  * * * * * * * *:hover:after,
  * * * * * * * * *:hover:after {
    content:    attr(class);
    display:    block;
    position:   absolute;
    color:      hsl(0, 0%, 20%);
    padding:    3px 5px;
    background: hsl(60, 100%, 93%);
    border:     1px solid silver;
    z-index:    10;
    text-decoration: none;
    font: normal normal normal 10px / 1em "Lucida Grande", Lucida, Verdana, sans-serif; } }


// ===== Diagnostics ========================================================== //

@mixin Diagnostics {
  div:empty, span:empty, li:empty, p:empty, td:empty, th:empty {
    padding:    0.5em;
    background: yellow !important; }
  *[style], font, center { outline: 5px solid red; }
  * {
    &[alt=""], &[title=""], &[class=""], &[id=""] { outline: 5px dotted red; } }
  img {
    &[alt=""] {         border  : 3px dotted red; }
    &:not([alt]) {      border  : 5px solid  red; }
    &[title=""] {       outline : 3px dotted fuchsia; }
    &:not([title]) {    outline : 5px solid  fuchsia; } }
  table {
    &:not([summary]) {  outline : 5px solid  red; }
    &[summary=""] {     outline : 3px dotted red; } }
  th {                  border  : 2px solid  red;
    &[scope="col"], &[scope="row"] { border: none; } }
  a {
    &[href]:not([title]) { border: 5px solid red; }
    &[title=""] { outline: 3px dotted red; }
    &[href="#"] { background: lime; }
    &[href=""] {  background: fuchsia; } } }


// ===== Diagnostics IE7 ====================================================== //

@mixin DiagnosticsIE7 {
  div:empty, span:empty,
  li:empty, p:empty,
  td:empty, th:empty {                      padding: 0.5em; background: yellow; }
  *[style], img, a[href], font, center {    border: 5px solid red; }
  *[class=""], *[id=""] {                   border: 5px dotted red; }
  table, th {                               border: 5px solid red; }
  img {                                     border: 5px solid red; }
  img[alt][title] {                         border-width: 0; }
  img[alt] {                                border-color: fuchsia; }
  img[alt], img[title] {                    border-style: double; }
  img[alt=""][title], img[alt][title=""] {  border-width: 3px; }
  img[alt=""][title=""] {                   border-style: dotted; }
  table[summary],
  th[scope="col"], th[scope="row"] {        border: 1px solid hsl(0, 0%, 67%); }
  a[title] {                                border-width: 0; }
  a[title=""] {                             border-width: 3px; }
  a[href="#"] {                             background: lime; }
  a[href=""] {                              background: fuchsia; } }


// ===== Deprecated Elements ================================================== //

@mixin Deprecated_Elements {
  applet, basefont, center, dir, font, isindex, menu, s, strike, u, big, tt { outline: 5px dotted red !important; }
  *[background], *[bgcolor], *[clear], *[color], *[compact], *[noshade], *[nowrap], *[size], *[start],
  *[bottommargin], *[leftmargin], *[rightmargin], *[topmargin], *[marginheight], *[marginwidth], *[alink], *[link], *[text], *[vlink],
  *[align], *[valign],
  *[hspace], *[vspace],
  *[height], *[width],
  ul[type], ol[type], li[type] { border: 5px solid red !important; } }


// ===== Brad Czerniak's Diagnostics ========================================== //

@mixin deprecation {
  background: #ffcccc !important;
  outline: 3px solid red !important; }

@mixin abused {
  outline: 3px solid red !important; }

@mixin bad_practice {
  outline: 3px solid yellow !important; }


// ===== Deprecated Elements ================================================== //

@mixin BC-Deprecated_Elements {
  animate, applet, audioscope,
  basefont, blackface, blink, bq,
  center, comment,
  dir,
  embed,
  fn, font,
  ilayer, image, isindex,
  layer, limittext, listing,
  marquee, menu, multicol,
  nobr, noembed, nolayer, nosmartquotes,
  plaintext,
  s, shadow, sidebar, spacer, strike,
  u,
  wbr,
  xmp {
    @include deprecation; } }

@mixin BC-Deprecated_Attributes {
  * {
    &[align], &[bgcolor] {
      @include deprecation; } }
  body {
    &[alink], &[background], &[bgcolor], &[bgproperties], &[bordercolor], &[bordercolordark], &[bordercolorlight], &[leftmargin], &[link], &[rightmargin], &[text], &[vlink] {
      @include deprecation; } }
  a[href^="javascript:"], br[clear], caption[usestyle], dl[compact], form[target], frameset[framespacing] {
    @include deprecation; }
  hr {
    &[noshade], &[size], &[width] {
      @include deprecation; } }
  img {
    &[border], &[controls], &[dynsrc], &[hspace], &[ibmlogo], &[internal-gopher-menu], &[left_arrow], &[loop], &[red_bullet], &[start], &[vspace] {
      @include deprecation; } }
  input[valign] {
    @include deprecation; }
  li {
    &[type], &[value] {
      @include deprecation; } }
  object {
    &[border], &[hspace], &[vspace] {
      @include deprecation; } }
  ol {
    &[compact], &[start], &[type] {
      @include deprecation; } }
  pre[width], select[autoactivate], table[frame] {
    @include deprecation; }
  td {
    &[height], &[nowrap], &[width] {
      @include deprecation; } }
  th {
    &[height], &[nowrap], &[width] {
      @include deprecation; } }
  ul {
    &[compact], &[type] {
      @include deprecation; } } }


// ===== Empty Elements ======================================================= //

@mixin BC-Empty_Elements {
  div:empty, li:empty, p:empty, span:empty, td:empty, th:empty {
    background: yellow;
    padding: 0.5em;
    visibility: visible; } }


// ===== Empty Attributes ===================================================== //

@mixin BC-Empty_Attributes {
  * {
    &[abbr=""], &[accept-charset=""], &[accept=""], &[accesskey=""], &[action=""], &[align=""], &[alink=""], &[archive=""], &[axis=""],
    &[background=""], &[bgcolor=""], &[border=""],
    &[cellpadding=""], &[char=""], &[charoff=""], &[charset=""], &[checked=""], &[cite=""], &[class=""], &[classid=""], &[clear=""], &[code=""], &[codebase=""], &[codetype=""], &[color=""], &[cols=""], &[colspan=""], &[compact=""], &[content=""], &[coords=""],
    &[data=""], &[datetime=""], &[declare=""], &[defer=""], &[dir=""], &[disabled=""],
    &[enctype=""],
    &[face=""], &[for=""], &[frame=""], &[frameborder=""],
    &[headers=""], &[height=""], &[href=""], &[hreflang=""], &[hspace=""], &[http-equiv=""],
    &[id=""], &[ismap=""],
    &[label=""], &[lang=""], &[language=""], &[link=""], &[longdesc=""],
    &[marginheight=""], &[marginwidth=""], &[maxlength=""], &[media=""], &[method=""], &[multiple=""],
    &[name=""], &[nohref=""], &[noresize=""], &[noshade=""], &[nowrap=""],
    &[object=""], &[onblur=""], &[onchange=""], &[onclick=""], &[ondblclick=""], &[onfocus=""], &[onkeydown=""], &[onkeypress=""], &[onkeyup=""], &[onload=""], &[onmousedown=""], &[onmousemove=""], &[onmouseout=""], &[onmouseover=""], &[onmouseup=""], &[onreset=""], &[onselect=""], &[onsubmit=""], &[onunload=""],
    &[profile=""], &[prompt=""],
    &[readonly=""], &[rel=""], &[rev=""], &[rows=""], &[rowspan=""], &[rules=""],
    &[scheme=""], &[scope=""], &[scrolling=""], &[selected=""], &[shape=""], &[size=""], &[span=""], &[src=""], &[standby=""], &[start=""], &[style=""], &[summary=""],
    &[tabindex=""], &[target=""], &[text=""], &[title=""], &[type=""],
    &[usemap=""],
    &[valign=""], &[value=""], &[valuetype=""], &[version=""], &[vlink=""], &[vspace=""],
    &[width=""] {
      background: yellow; } } }


// ===== Abused or Missing required attributes ================================ //

@mixin BC-Abused_Attributes {
  a[href="#"], area:not([alt]), form:not([action]) {
    @include abused; }
  img:not([alt]), img:not([src]) {
    @include abused; }
  map:not([name]), optgroup:not([label]) {
    @include abused; }
  textarea:not([cols]), textarea:not([rows]) {
    @include abused; } }


// ===== Bad Practice ========================================================= //

@mixin BC-Bad_Practice {
  b, big, i, small, tt {
    @include bad_practice; }
  table table {
    @include bad_practice; }
  *[style] {
    background: yellow !important;
    display: block !important;
    @include bad_practice; }
  table {
    &[cellspacing], &[cellpadding] {
      @include bad_practice; } }
  body {
    &[onclick], &[ondblclick], &[onload], &[onmousedown], &[onmousemove], &[onmouseout], &[onmouseover], &[onmouseup], &[onkeydown], &[onkeypress], &[onkeyup], &[onunload] {
      @include bad_practice; } }
  * {
    &[onload], &[onunload], &[onchange], &[onsubmit], &[onreset], &[onselect], &[onblur], &[onfocus], &[onkeydown], &[onkeypress], &[onkeyup], &[onclick], &[ondblclick], &[onmousedown], &[onmousemove], &[onmouseover], &[onmouseout], &[onmouseup] {
      @include bad_practice; } }
  label:not([for]) {
    @include bad_practice; } }
