
@mixin threedeetext ( $color: hsl(1, 68%, 53%), $size: 100px, $font: "Helvetica, Verdana" ) {
  color: $color;
  font: {
    family: unquote($font), sans-serif;
    size: $size;
    weight: bold; };
  line-height: 1em;
  text-transform: uppercase;
  text-shadow:
		0 2px 0 darken($color, 14%),
    0 4px 0 darken($color, 18%),
    0 6px 0 darken($color, 22%),
    0 8px 0 darken($color, 26%),
    3px 8px 15px hsla(0, 0%, 0%, 0.1),
    3px 8px 5px hsla(0, 0%, 0%, 0.3);
}