
//  Serif and sans-serif font stacks from:
//
//  A Revised Font Stack
//  http://www.awayback.com/revised-font-stack
//
//
//  Monospace font stack from:
//
//  8 Definitive Web Font Stacks
//  http://articles.sitepoint.com/article/eight-definitive-font-stacks
//
//
//  Cursive font stack from:
//
//  Build better CSS font stacks - Cursive  font stack featuring Bradley Hand ITC
//  http://www.codestyle.org/css/font-family/BuildBetterCSSFontStacks.shtml

// ===== Import google Fonts ================================================== //
// @import url("http://fonts.googleapis.com/css?family=Droid+Sans:bold+Lobster")
// @import url("http://fonts.googleapis.com/css?family=Lobster")

// ===== Serif font-stacks ==================================================== //

$baskerville-font-stack           : Baskerville, "Baskerville old face", "Hoefler Text", Garamond, "Times New Roman", serif !default;
$baskerville-header-font-stack    : Baskerville, "Times New Roman", Times, serif !default;
$baskerville-paragraph-font-stack : Baskerville, Times, "Times New Roman", serif !default;

$big-caslon-font-stack            : "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif !default;

$bodoni-mt-font-stack             : "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif !default;

$book-antiqua-font-stack          : "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif !default;

$cambria-font-stack               : Cambria, Georgia, Times, "Times New Roman", serif !default;

$constantia-font-stack            : Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif !default;

$didot-font-stack                 : Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif !default;

$garamond-font-stack              : Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif !default;
$garamond-header-font-stack       : Garamond, "Hoefler Text", Palatino, "Palatino Linotype", serif !default;
$garamond-paragraph-font-stack    : Garamond, "Hoefler Text", "Times New Roman", Times, serif !default;

$georgia-font-stack               : Georgia, Times, "Times New Roman", serif !default;

$goudy-old-style-font-stack       : "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif !default;

$hoefler-text-font-stack          : "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif !default;

$lucida-bright-font-stack         : "Lucida Bright", Georgia, serif !default;

$palatino-font-stack              : Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif !default;
$palatino-header-font-stack       : Palatino, "Palatino Linotype", "Hoefler Text", Times, "Times New Roman", serif !default;
$palatino-paragraph-font-stack    : Palatino, "Palatino Linotype", Georgia, Times, "Times New Roman", serif !default;

$times-font-stack                 : Times, "Times New Roman", Georgia, serif !default;


// ===== Sans-Serif font-stacks =============================================== //

$calibri-font-stack               : Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif !default;

$candara-font-stack               : Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif !default;

$century-gothic-font-stack        : "Century Gothic", "Apple Gothic", sans-serif !default;

$cooperplate-font-stack           : "Copperplate Light", Copperplate Gothic Light, serif !default;

$franklin-gothic-font-stack       : "Franklin Gothic Medium", "Arial Narrow Bold", Arial, sans-serif !default;

$futura-font-stack                : Futura, "Trebuchet MS", Arial, sans-serif !default;
$futura-gothic-font-stack         : Futura, "Century Gothic", "Apple Gothic", sans-serif !default;

$geneva-font-stack                : Geneva, Tahoma, Verdana, sans-serif !default;
$geneva-header-font-stack         : Geneva, Verdana, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif !default;

$gill-sans-header-stack           : "Gill Sans", Trebuchet, Calibri, sans-serif !default;
$gill-sans-paragraph-stack        : "Gill Sans", Calibri, Trebuchet, sans-serif !default;
$gill-sans-stack                  : "Gill Sans", "Gill Sans MT", Calibri, sans-serif !default;

$helvetica-font-stack             : "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$helvetica-neu-light-font-stack   : "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;


$impact-font-stack                : Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif !default;

$lucida-grande                    : "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif !default;
$lucida-sans-font-stack           : "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif !default;
$lucida-sans-paragraph-font-stack : "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif !default;

$optima-font-stack                : Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif !default;
$segoe-font-stack                 : Segoe, "Segoe UI", "Helvetica Neue", Arial, sans-serif !default;

$tahoma-font-stack                : Tahoma, Geneva, Verdana, sans-serif !default;
$tahoma-header-font-stack         : Tahoma, Verdana, Geneva, sans-serif !default;

$trebuchet-font-stack             : "Trebuchet MS", Trebuchet, "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Tahoma, Arial, sans-serif !default;
$trebuchet-header-font-stack      : Trebuchet, Tahoma, Arial, sans-serif !default;

$verdana-font-stack               : Verdana, Geneva, sans-serif !default;
$verdana-header-font-stack        : Verdana, Tahoma, Geneva, sans-serif !default;
$verdana-paragraph-font-stack     : Verdana, Geneva, Tahoma, sans-serif !default;


// ===== Monospace font-stacks ================================================ //

// Consolas is not included in this stack because it is much smaller than the other fonts listed in the stack.
$monospace-font-stack             : "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace !default;

$courier-font-stack               : "Courier New", Courier, monospace !default;
$consolas-font-stack              : Consolas, Lucida Console, Monaco, monospace !default;

// ===== Cursive font-stacks ================================================== //

$cursive-font-stack               : "Bradley Hand ITC", "Apple Chancery", "URW Chancery L", cursive !default;

// ===== Others =============================================================== //

// sushiandrobots.com
$sushy-robots-font-stack          : "Hoefler Text", Constantia, Palatino, "Palatino Linotype", "Book Antiqua", Georgia, serif !default;

// jontangerine.com
$jontangerine-font-stack          : Baskerville, Garamond, Palatino, "Palatino Linotype", "Hoefler Text", "Times New Roman", serif !default;

// ilovetypography.com
$ilovetypography-font-stack       : Cambria, Georgia, "Times New Roman", Times, serif !default;

// facebook.com
$facebook-font-stack              : "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif !default;

// Yahoo.com
$yahoo-font-stack                 : Helvetica, Arial, sans-serif !default;

// Microsoft
$microsoft-font-stack             : "Segoe UI", Segoe, Tahoma, Geneva, Arial, sans-serif !default;

// Apple
$apple-font-stack                 : "Lucida Grande", Helvetica, Verdana, Arial, sans-serif !default;



// ===== Times New Roman-based stack
$f-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif !default;

// ===== Modern Georgia-based serif stack
$f-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif !default;

// ===== Traditional Garamond-based serif stack
$f-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif !default;

// ===== Helvetica/Arial-based sans serif stack
$f-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans serif !default;

// ===== Verdana-based sans serif stack
$f-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans serif !default;

// ===== Trebuchet-based sans serif stack
$f-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans serif !default;

// ===== Impact-based sans serif stack
$f-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif !default;

// ===== Monospace stack
$f-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace !default;

