// Reintroduction of the marquee!
// currently only supported in Webkit

// 1. Direction of the marquee. [ auto | ahead | backwards | down | forward | inherit | left | reverse right | up ]
// 2. Increment of the marquee. (Framerate?)                       [ small | medium | large ]
// 3. Sets how many times the marquee will repeat it's animation.  [ Any number | infinite ]
// 4. controls the speed of the marquee                            [ slow | normal | fast ]
// 5. Sets the kind of animation of the marquee.                   [ alternate | scroll | slide | inherit | none ]

$default-marquee-direction  : auto     !default; // 1
$default-marquee-increment  : small    !default; // 2
$default-marquee-repetition : infinite !default; // 3
$default-marquee-speed      : fast     !default; // 4
$default-marquee-style      : scroll   !default; // 5

@mixin marquee(
  $direction  : $default-marquee-direction,
  $increment  : $default-marquee-increment,
  $repetition : $default-marquee-repetition,
  $speed      : $default-marquee-speed,
  $style      : $default-marquee-style
) {
  @include experimental-value( overflow-x,    marquee,     not -moz, -webkit, not -o, not -ms, not -khtml, official );
  @include experimental( marquee-direction,  $direction,   not -moz, -webkit, not -o, not -ms, not -khtml, official );
  @include experimental( marquee-style,      $style,       not -moz, -webkit, not -o, not -ms, not -khtml, official );
  @include experimental( marquee-speed,      $speed,       not -moz, -webkit, not -o, not -ms, not -khtml, official );
  @include experimental( marquee-increment,  $increment,   not -moz, -webkit, not -o, not -ms, not -khtml, official );
  @include experimental( marquee-repetition, $repetition,  not -moz, -webkit, not -o, not -ms, not -khtml, official );
}
