

// ===== Buttons ============================================================== //

//@import "buttons/aquabutton";
//@import "buttons/bonbonbuttons";
//@import "buttons/hotblue";
//@import "buttons/milkbutton";
//@import "buttons/win7-blue";
//@import "buttons/wufoo";
//@import "buttons/pushybutton";

// ===== Forms ================================================================ //

$label-width         : $font-size * 10;
$input-width         : 200px;
$invalid_color_input : hsl(  0, 100%,  93%);

// Hilights
$hilight_color_text  : hsl( 60, 100%,  73%);
$hilight_color_input : hsl( 60, 100%,  95%);
$invalid_color_input : hsl(  0, 100%,  93%);

// Row Colors
$row-color-header    : hsl(220, 100%,  88%);
$row-color-even      : hsl(220,  90%,  96%);
$row-color-even-alt  : hsl(220,  63%,  94%);
$row-color-odd       : hsl(  0,   0%, 100%);

//@import "forms/pretty-forms";
//@import "forms/form-elements";
//@import "forms/webkit-style";
//@import "forms/validation";
//@import "forms/shiney-formfields";


// ===== Tables =============================================================== //

//@import "tables/fancify";
//@import "tables/office07";

// ===== Typography =========================================================== //

//@import "typography/fontstacks";
//@import "typography/blockquote";
//@import "typography/3Dtext";
//@import "typography/dropcap";


// ===== UI Makeover ========================================================== //

//@import "UI-Makeover/nightflash";
//@import "UI-Makeover/umbrUI-checkboxes";
//@import "UI-Makeover/umbrUI-numbers";
//@import "UI-Makeover/umbrUI-radio";
//@import "UI-Makeover/umbrUI-range";


// ===== Other ================================================================ //

//@import "other/color-stacks";
//@import "other/diagnostics";
//@import "other/notification_boxes";
// @import "other/evil";
