* { -webkit-box-sizing: border-box; }
html, body {
  padding: 0; margin: 0;
  /* width: 436px; */
  min-height: 100%;
  width: 100%;
  font-size: 12px;
  font-family: "Lucida Grande", Arial, sans-serif;
}
header {
  /*height: 42px;*/
  height: 20%;
  width: 100%;
  padding: 5px;
  background: white -webkit-linear-gradient( top, hsl(0, 0%, 90%), hsl(0, 0%, 70%) );
  border-bottom: 1px solid hsl(0, 0%, 65%);
  -webkit-box-shadow: inset 0 -1px 0px hsla(0, 0%, 100%, .7);
  text-shadow: 0 1px 0px white;
  font-size: 0.9em;
  color: #444;
}
header h1 { font-weight: bold; font-size: 1.4em; letter-spacing: 0px; line-height: 18px; margin: 0; padding: 0; }
header img.button {
  /*padding     : 5px;*/
  background    : -webkit-linear-gradient( top, hsla(0, 0%, 100%, .8), hsla(0, 0%, 100%, .1) );
  border-radius : 5px;
  border        : 1px solid #7e7e7e;
  box-shadow    : 0 1px 0 hsla(0, 0%, 100%, .6), inset 0 1px 0 hsla(0, 0%, 100%, .4);
  float         : left;
  height        : 30px;
  margin-right  : 10px;
  width         :  30px;
}
header img.button:hover {
  background: -webkit-linear-gradient( top, hsla(0, 0%, 100%, 1), hsla(0, 0%, 100%, .3) );
}
header img.button:active {
  background: -webkit-linear-gradient( top, hsla(0, 0%, 0%, .6), hsla(0, 0%, 0%, .1) );
}
header img.vitalis, header img.vimediamanager {
  float  : right;
  /*height : 19px;*/
  height: 32px;
  /*margin : 6px;*/
  margin-top: -1px;
  /*width  : 59px;*/
}
section {
  min-height : 100%;
  padding    : 5px;
  text-align : justify;
  width      : 100%;
}

ul { padding       : 0; margin: 0;}
ul li { list-style : none; overflow: hidden; }
h3 { margin        : 10px 30px; }
p { margin         : 10px 30px; }
a { color          : #36C; text-decoration: none; }
a:hover { text-decoration: underline; }
hr { border: 0; border-top: 1px dashed hsla(0, 0%, 0%, .1); height: 0; }

.new:before, .fix:before, .dif:before, .hot {
  border-radius  : 3px;
  color          : white;
  display        : inline-block;
  font-size      : 10px;
  font-weight    : bold;
  letter-spacing : 0px;
  margin         : 2px 5px;
  padding        : 1px 6px 2px 6px;
  text-align     : right;
  text-transform : uppercase;
}
.new:before { content: "New";      background: #00A825; margin-left: 36px; }
.dif:before { content: "Improved"; background: #0486BC; margin-left: 5px; }
.fix:before { content: "Fixed";    background: #BCB901; margin-left: 29px; }

.hot {
  background: #DD0000;
  margin: 2px 0;
}