// ===== Experimental Support ================================================= //

@mixin experimental($property, $value,
  $moz      : $experimental-support-for-mozilla,
  $webkit   : $experimental-support-for-webkit,
  $o        : $experimental-support-for-opera,
  $ms       : $experimental-support-for-microsoft,
  $khtml    : $experimental-support-for-khtml,
  $official : true
) {
  @if $webkit and $experimental-support-for-webkit    { -webkit-#{$property} : $value; }
  @if $khtml  and $experimental-support-for-khtml     {  -khtml-#{$property} : $value; }
  @if $moz    and $experimental-support-for-mozilla   {    -moz-#{$property} : $value; }
  @if $ms     and $experimental-support-for-microsoft {     -ms-#{$property} : $value; }
  @if $o      and $experimental-support-for-opera     {      -o-#{$property} : $value; }
  @if $official                                       {         #{$property} : $value; } }

@mixin experimental-value($property, $value,
  $moz      : $experimental-support-for-mozilla,
  $webkit   : $experimental-support-for-webkit,
  $o        : $experimental-support-for-opera,
  $ms       : $experimental-support-for-microsoft,
  $khtml    : $experimental-support-for-khtml,
  $official : true
) {
  @if $webkit and $experimental-support-for-webkit    { #{$property} : -webkit-#{$value}; }
  @if $khtml  and $experimental-support-for-khtml     { #{$property} :  -khtml-#{$value}; }
  @if $moz    and $experimental-support-for-mozilla   { #{$property} :    -moz-#{$value}; }
  @if $ms     and $experimental-support-for-microsoft { #{$property} :     -ms-#{$value}; }
  @if $o      and $experimental-support-for-opera     { #{$property} :      -o-#{$value}; }
  @if $official                                       { #{$property} :         #{$value}; } }

@mixin experimental-prop-value($property, $value,
  $moz      : $experimental-support-for-mozilla,
  $webkit   : $experimental-support-for-webkit,
  $o        : $experimental-support-for-opera,
  $ms       : $experimental-support-for-microsoft,
  $khtml    : $experimental-support-for-khtml,
  $official : true
) {
  @if $webkit and $experimental-support-for-webkit    { -webkit-#{$property} : -webkit-#{$value}; }
  @if $khtml  and $experimental-support-for-khtml     {  -khtml-#{$property} :  -khtml-#{$value}; }
  @if $moz    and $experimental-support-for-mozilla   {    -moz-#{$property} :    -moz-#{$value}; }
  @if $ms     and $experimental-support-for-microsoft {     -ms-#{$property} :     -ms-#{$value}; }
  @if $o      and $experimental-support-for-opera     {      -o-#{$property} :      -o-#{$value}; }
  @if $official                                       {         #{$property} :         #{$value}; } }


// ===== Very Simple Transform ================================================ //

@mixin vs-transform($value: none) {
  $value: unquote($value);
  @include experimental(transform, $value, -moz, -webkit, -o, -ms, -khtml, official); }


// ===== CSS3 Flexible Box ==================================================== //

@mixin box(
  $orientation : $default-box-orient,
  $pack        : $default-box-pack,
  $align       : $default-box-align
) {
  @include experimental-value( display, box,     -moz, -webkit, -o, -ms, -khtml, official );
  @include experimental( box-orient,    $orient, -moz, -webkit, -o, -ms, -khtml, official );
  @include experimental( box-pack,      $pack,   -moz, -webkit, -o, -ms, -khtml, official );
  @include experimental( box-align,     $align,  -moz, -webkit, -o, -ms, -khtml, official ); }


// ===== Columns ============================================================== //

@mixin columns(
  $count : $column-count,
  $gap   : $column-gap,
  $width : $column-width
) {
  @include experimental( column-count, $count, -moz, -webkit, -o, -ms, -khtml, official );
  @include experimental( column-gap,   $gap,   -moz, -webkit, -o, -ms, -khtml, official );
  @include experimental( column-width, $width, -moz, -webkit, -o, -ms, -khtml, official ); }


// ===== Outline Radius ======================================================= //

@mixin outline-radius($value: 3px) {
  $value: unquote($value);
  @include experimental(outline-radius, $value, -moz, -webkit, -o, -ms, -khtml, official); }


// ===== User-Select ========================================================== //

@mixin user-select( $value: none ) {
  $value: unquote($value);
  @include experimental( user-select, $value, -moz, -webkit-, -o, -ms, -khtml, official); }


// ===== Font size mixin to include px and rem ================================ //

@mixin font-size($size, $is-important: false) {
  @if $is-important {
    font-size: $size + px !important;
    font-size: ($size / 10) + rem !important;
  } @else {
    font-size: $size + px;
    font-size: ($size / 10) + rem;
  }
}



// ===== Others =============================================================== //

@import "mixins/animation";
@import "mixins/reflect";
@import "mixins/marquee";