
/* ===== Media queries ======================================================== */
// EXAMPLE Media Queries for Responsive Design.
// This example overrides the primary ('mobile first') styles
// Modify as content requires.
// ============================================================================ //

@media only screen and ( min-width: 35em ) {
  // Style adjustments for viewports that meet the condition //
}


@media only screen and ( max-width: 1200px ) { } // Less than 1200 pixels
@media only screen and ( max-width: 960px  ) { body { width: 100%; } } // Less than 960 pixels
@media only screen and ( max-width: 860px  ) { } // Less than 860 pixels
@media only screen and ( max-width: 780px  ) { } // Less than 860 pixels
@media only screen and ( max-width: 600px  ) { } // Less than 600 pixels
@media only screen and ( max-width: 320px  ) { } // Less then 320 pixels


@media only screen and ( min-width: 1440px ) { body { font-size: $font-size * 1.1; line-height: 1.5em; width: 1260px; } } // More then 1440 pixels
@media only screen and ( min-width: 1200px ) { } // More than 1200 pixels
@media only screen and ( min-width: 960px  ) { } // More than 960 pixels
@media only screen and ( min-width: 860px  ) { } // More than 860 pixels
@media only screen and ( min-width: 780px  ) { } // More than 860 pixels
@media only screen and ( min-width: 600px  ) { } // More than 600 pixels
@media only screen and ( min-width: 320px  ) { } // More then 320 pixels

 // ===== Popular Screens & Sizes ============================================= //

// ===== Apple Cinema Display Full Screen ===== }
@media screen and ( min-width: 2100px ) { }

// ===== HD - IE9 & FF full screen ===== //
@media screen and ( max-width: 1920px ) { }

// ===== Chrome PC full screen ===== //
@media screen and ( max-width: 1910px ) { }

// ===== Popular laptop size, fullscreen 15" MacBook Pro ===== //
@media screen and ( max-width: 1440px ) { }

// ===== Vertically oriented HD monitors ===== //
@media screen and ( max-width: 1080px ) { }

// ===== PlayBook, iPad, Kindle Fire landscape ===== //
@media screen and ( max-width: 1030px ) { }

// ===== iPad Portrait ===== //
@media screen and ( max-width: 770px ) { }

// ===== PlayBook, Kindle, Kindle Fire portait ===== //
@media screen and ( max-width: 600px ) { }

// ===== Nexus S in landscape ===== //
@media screen and ( max-width: 540px ) { }

// ===== As narrow as Firefox Mac goes ===== //
@media screen and ( max-width: 510px ) { }

// ===== Many mobile devices in landscape ===== //
@media screen and ( max-width: 480px ) { }

// ===== As narrow as Chrome, Safari Mac go ===== //
@media screen and ( max-width: 400px ) { }

// ===== Most mobile devices in portrait. This is as small as Firefox and Safari PC go. ===== //
@media screen and ( max-width: 320px ) { }

// ===== Opera Mac, Chrome PC, & IE9. Thank you for respecting my desire to go insanely small. ===== //
@media screen and ( max-width: 300px ) { }


// ===== Full screen iOS sizes ================================================ //

// HD (Retina) Devices
@media only screen and ( min-device-pixel-ratio: 2 ) { }

// ===== iPad 3 =====
@media only screen and ( max-device-width: 2048px ) { } // Landscape
@media only screen and ( max-device-width: 1536px ) { } // Portrait
// Specialized targetting iPad 3
@media only screen and ( min-device-width: 1536px ) and ( max-device-width: 2048px ) and ( -webkit-min-device-pixel-ratio: 2 ) { } // Landscape & Portrait
@media only screen and ( min-device-width: 1536px ) and ( max-device-width: 2048px ) and ( orientation: landscape ) { } // Landscape
@media only screen and ( min-device-width: 1536px ) and ( max-device-width: 2048px ) and ( orientation: portrait  ) { } // Portrait

// ===== iPad 2 =====
@media only screen and ( max-device-width: 1024px ) { } // Landscape
@media only screen and ( max-device-width: 768px  ) { } // Portrait
// Specialized targetting iPad 2
@media only screen and ( min-device-width: 768px ) and ( max-device-width: 1024px ) { } // Landscape & Portrait
@media only screen and ( min-device-width: 768px ) and ( max-device-width: 1024px ) and ( orientation: portrait ) { } // Portrait
@media only screen and ( min-device-width: 768px ) and ( max-device-width: 1024px ) and ( orientation: landscape) { } // Landscape

// ===== iPhone 4+ =====
@media only screen and ( max-device-width: 960px  ) { } // Landscape
@media only screen and ( max-device-width: 640px  ) { } // Portrait
// Specialized targetting iPhone 4+
@media only screen and ( min-device-width: 640px ) and ( max-device-width: 960px ) and ( -webkit-min-device-pixel-ratio: 2 ) { } // Landscape & Potrait
@media only screen and ( min-device-width: 640px ) and ( max-device-width: 960px ) and ( orientation: portrait ) { } // Portrait
@media only screen and ( min-device-width: 640px ) and ( max-device-width: 960px ) and ( orientation: landscape) { } // Landscape

// ===== iPhone pre 4 =====
@media only screen and ( max-device-width: 480px  ) { } // Landscape
@media only screen and ( max-device-width: 320px  ) { } // Portrait