
[contenteditable] {
  &:hover { outline: 1px dotted hsl(  0,  0%, 70%); }
  &:focus { outline: 1px solid  hsl(  0,  0%, 70%); } }

/* ===== Inputs general ======================================================= */

$input-border-colors: hsl(0, 0%, 80%) hsl(0, 0%, 73%) hsl(0, 0%, 73%) hsl(0, 0%, 80%);
$input-border-color:  hsl(0, 0%, 67%);

button, input, select, textarea, option, optgroup { margin-bottom: 0.55em; }

button, input { line-height: normal; }

button, input[type='button'], input[type='reset'], input[type=submit] { @include appearance(button); }

button, input { &::-moz-focus-inner { border: 0; padding: 0; } }

textarea {
  border         : 1px solid hsl(255, 2.3%, 76%);
  height         : 160px;
  overflow       : auto;
  padding        : 4px;
  resize         : vertical;
  vertical-align : top;
  width          : $label-width + $input-width;
  &:valid   { } // colors for form validity
  &:invalid { background: $invalid_color_input; } }

/* ===== Input ================================================================ */

input {
  &[type='text'],     &[type='password'],   &[type='search'],
  &[type='email'],    &[type='url'],        &[type='tel'],
  &[type='number'],   &[type='color'],      &[type='keygen'],
  &[type='date'],     &[type='month'],      &[type='week'],  &[type='time'],
  &[type='datetime'], &[type='datetime-local'] {
    border  : 1px solid hsl(255, 2.3%, 76%);
    padding : 2px 4px;
    width   : $input-width;
    &:focus       { background-color : $hilight_color_input; } }
  &[type='file']  { padding : 2px 1px; width: 200px; }
  &[type='range'] { width   : $input-width + 10;
    &.vertical    { @include appearance(slider-vertical); } }
  &.large         { width   : $label-width + $input-width; }
  &.small         { width   : 75px; }

  &:valid         { } // colors for form validity
  &:invalid  { background: $invalid_color_input; }
  &:disabled {
    background : lighten($font-color, 70%);
    color      : lighten($font-color, 30%); } }


/* ===== Select =============================================================== */

select    { min-width : $input-width + 10;
  &.large { min-width : $label-width + $input-width + 10; }
  &.small { min-width : 75px + 10; }
  option  { margin    : 0; }
  &[size],
  &[multiple] {
    background-color : hsl(0, 0%, 100%);
    min-height       : 100px;
    resize           : both;
    > option:nth-child(even) { background : $row-color-even; } } }

// Other -----------------------------------------------------------------

input[type='search'] {
  // To be able to use my own styles and make it appear as input[type='text']
  @include appearance(textfield);
  @include box-sizing(content-box);
  width: $input-width;
  &::-webkit-search-decoration { -webkit-appearance: none; } }

input[type='image'],
input[type='radio'],
input[type='checkbox'] {
  box-sizing : border-box;
  background : transparent;
  border     : none; }


input { &[type='radio'], &[type='checkbox'] { margin: 0 0.25em 3px 1px; } }

button, .button,
input[type='button'],
input[type='submit'],
input[type='reset'],
input[type="file"]::-webkit-file-upload-button {
  @include appearance(button);
  line-height   : 19px;
  margin-bottom : 0.55em;
  margin-right  : 0.55em;
  padding       : 0.1em 1em; }

.button   { color: $font-color; display: inline-block;
  &:hover { color: $font-color; text-decoration: none; } }

frame, iframe, frameset { border: 0; }

// Focus
*:focus { outline: auto 5px hsl(40, 100%, 50%); }
