form {
  display              : inline;
  margin               : 0;
  fieldset {
    @include border-radius(5px);
    border             : 1px solid hsl(0, 0%, 67%);
    margin             : 0 $line-height $line-height;
    padding            : $line-height $line-height;
    legend {
      font             : {
        size           : $font-size * 1.2;
        weight         : bold; };
      padding          : 0.2em 0.5em;
      border           : 0; }
    label {
      display          : inline-block;
      padding          : 4px 0px;
      width            : $label-width;
      &[for] { cursor  : pointer; }
      em {
        color          : red;
        font-size      : 1.2em;
        font-style     : normal;
        vertical-align : bottom; } }
    // Pretty Forms
    ol {
      list-style       : none;
      margin           : 0;
      li {
        list-style     : none;
        padding        : 0.4em 0.75em; }
      fieldset {
        border         : none;
        margin         : 0.4em 0 0;
        padding        : 0;
        legend {
          font-size    : $font-size;
          font-weight  : normal;
          padding      : 0.4em 0 0; }
        label {
          display      : block;
          margin-left  : 10em;
          width        : auto; } } } } }