// ===== Milk buttons ========================================================= //

button, .button,
input[type=submit], input[type=button], input[type=reset] {
  display           : inline-block;
  cursor            : pointer;
  padding           : 3px 18px;
  margin-bottom     : 0.55em;
  min-width         : 75px;
  vertical-align    : bottom;
  color             : hsl(190, 80%, 35%);
  background-color  : hsl(0, 0%, 95%);
  border            : hsl(0, 0%, 80%) 1px solid;
  border-color      : hsl(0, 0%, 80%) hsl(0, 0%, 85%) hsl(0, 0%, 85%) hsl(0, 0%, 80%);
  font              : bold 12px / 1.2em $font-family;
  text-decoration   : none;
  //@include linear-gradient(color-stops(hsl(240, 5%, 97%), hsl(240, 5%, 95%) 50%, hsl(240, 5%, 93%) 50%, hsl(240, 8%, 90%)));
  @include background-image( linear-gradient( hsl(240, 5%, 97%), hsl(240, 5%, 95%) 50%, hsl(240, 5%, 93%) 50%, hsl(240, 8%, 90%) ) );
  @include border-radius(22px);
  @include box-shadow(      0px  2px 2px hsla(  0,   0%,   0%, 0.3),
                      inset 0px  1px 0px hsla(  0,   0%, 100%, 0.8),
                      inset 0px -1px 0px hsl (190, 100%,  85%)  );
  text-shadow       : 0 1px 0 hsl(0, 0%, 100%);
  &[disabled] { opacity: 0.5; cursor: default; }
  &:not(:disabled):hover {
    @include background-image( linear-gradient( hsl(0, 0%, 94%), hsl(200, 5%, 85%) 50%, hsl(210, 5%, 85%) 50%, hsl(220, 5%, 85%) ) );
    text-decoration : none; }
  &:not(:disabled):active {
    position        : relative;
    top             : 1px;
    @include background-image( linear-gradient( hsl(220, 5%, 85%), hsl(210, 5%, 85%) 50%, hsl(200, 5%, 85%) 50%, hsl(0, 0%, 94%) ) );
    @include box-shadow(0px  1px 1px hsla(  0,   0%,   0%, 0.3),
                  inset 0px  1px 0px hsla(  0,   0%, 100%, 0.8),
                  inset 0px -1px 0px hsl (190, 100%,  85%) ); } }

a.button:visited { color: hsl(190, 80%, 35%); }