
// ===== Win7 buttons ========================================================= //
//
// - Color and Display values are for <a class="button"> links.
// - Background color is for IE.
// - Untill compass supports multiple box-shadows, i'll have to do these.

// Variables --------------------------

// Color options: blue, green, red
$WinColor  : "blue";

// Border color
$wxp-border-normal     : hsl(205, 52%, 45%);
$wxp-border-hover      : lighten(saturate($wxp-border-normal, 30%), 10%);
$wxp-border-active     : darken($wxp-border-hover, 5%);

// Background color
$wxp-background-normal : hsl(205, 65%, 60%);
$wxp-background-hover  : lighten($wxp-background-normal, 5%);
$wxp-background-active : darken($wxp-background-normal, 5%);

// Shadow color
$wxp-shadow-normal     : hsla(195, 80%, 54%, 0.8);
$wxp-shadow-hover      : lighten(saturate($wxp-shadow-normal, 30%), 10%);
$wxp-shadow-active     : darken($wxp-shadow-hover, 5%);

// Background Gradient color-stops
$normal-stop1          : hsl(205, 65%, 75%);
$normal-stop2          : hsl(205, 65%, 60%);
$normal-stop3          : hsl(205, 80%, 35%);
$normal-stop4          : hsl(185, 90%, 55%);

$hover-stop1           : lighten(saturate($normal-stop1, 30%), 10%);
$hover-stop2           : lighten(saturate($normal-stop2, 30%), 10%);
$hover-stop3           : lighten(saturate($normal-stop3, 30%), 10%);
$hover-stop4           : lighten(saturate($normal-stop4, 10%), 10%);

$active-stop1          : darken($hover-stop1, 5%);
$active-stop2          : darken($hover-stop2, 5%);
$active-stop3          : darken($hover-stop3, 5%);
$active-stop4          : darken($hover-stop4, 5%);


@if $WinColor == "red" {
  // Border color
  $wxp-border-normal:           hsl(7, 60%, 43%);
  $wxp-border-hover:            lighten(saturate($wxp-border-normal, 30%), 10%);
  $wxp-border-active:           darken($wxp-border-hover, 5%);

  // Background color
  $wxp-background-normal:       hsl(9, 70%, 47%);
  $wxp-background-hover:        lighten($wxp-background-normal, 5%);
  $wxp-background-active:       darken($wxp-background-normal, 5%);

  // Shadow color
  $wxp-shadow-normal:           hsla(18, 90%, 60%, 0.8);
  $wxp-shadow-hover:            lighten(saturate($wxp-shadow-normal, 30%), 10%);
  $wxp-shadow-active:           darken($wxp-shadow-hover, 5%);

  // Background Gradient color-stops
  $normal-stop1:                hsl(7, 70%, 75%);
  $normal-stop2:                hsl(9, 70%, 47%);
  $normal-stop3:                hsl(7, 70%, 40%);
  $normal-stop4:                hsl(18, 90%, 60%);

  $hover-stop1:                 lighten(saturate($normal-stop1, 30%), 10%);
  $hover-stop2:                 lighten(saturate($normal-stop2, 30%), 10%);
  $hover-stop3:                 lighten(saturate($normal-stop3, 30%), 10%);
  $hover-stop4:                 lighten(saturate($normal-stop4, 10%), 10%);

  $active-stop1:                darken($hover-stop1, 5%);
  $active-stop2:                darken($hover-stop2, 5%);
  $active-stop3:                darken($hover-stop3, 5%);
  $active-stop4:                darken($hover-stop4, 5%);
} @else if $WinColor == "green" {
  // Border color
  $wxp-border-normal:           hsl(120, 52%, 35%);
  $wxp-border-hover:            lighten(saturate($wxp-border-normal, 10%), 5%);
  $wxp-border-active:           darken($wxp-border-hover, 5%);

  // Background color
  $wxp-background-normal:       hsl(120, 65%, 50%);
  $wxp-background-hover:        lighten($wxp-background-normal, 5%);
  $wxp-background-active:       darken($wxp-background-normal, 5%);

  // Shadow color
  $wxp-shadow-normal:           hsla(100, 80%, 54%, 0.8);
  $wxp-shadow-hover:            lighten(saturate($wxp-shadow-normal, 10%), 5%);
  $wxp-shadow-active:           darken($wxp-shadow-hover, 5%);

  // Background Gradient color-stops
  $normal-stop1:                hsl(120, 65%, 65%);
  $normal-stop2:                hsl(120, 65%, 50%);
  $normal-stop3:                hsl(120, 80%, 25%);
  $normal-stop4:                hsl(100, 90%, 45%);

  $hover-stop1:                 lighten(saturate($normal-stop1, 10%), 5%);
  $hover-stop2:                 lighten(saturate($normal-stop2, 10%), 5%);
  $hover-stop3:                 lighten(saturate($normal-stop3, 10%), 5%);
  $hover-stop4:                 lighten(saturate($normal-stop4, 10%), 5%);

  $active-stop1:                darken($hover-stop1, 5%);
  $active-stop2:                darken($hover-stop2, 5%);
  $active-stop3:                darken($hover-stop3, 5%);
  $active-stop4:                darken($hover-stop4, 5%);
}
// Buttons ----------------------------

button, .button,
input[type=submit],
input[type=button],
input[type=reset] {
  display          : inline-block;
  padding          : 5px 10px;
  margin-bottom    : 0.55em;
  vertical-align   : bottom;
  font-size        : 1.1 * $font-size;
  text-decoration  : none;
  text-shadow      : 0 0 3px hsl(205, 87%, 31%);
  @include border-radius(3px);
  color            : hsl(0, 0%, 100%);
  border           : $wxp-border-normal 1px solid;
  background-color : $wxp-background-normal;
  @include background-image( linear-gradient( $normal-stop1, $normal-stop2 50%, $normal-stop3 50%, $normal-stop4 ) );
  @include box-shadow( 0 2px 4px $wxp-shadow-normal, inset 0 0 2px 2px hsla(0, 100%, 100%, 0.25) );
  &[disabled] {
    opacity        : 0.5;
  &:hover, &:active {
      cursor           : default;
      top              : 0px;
      color            : hsl(0, 0%, 100%);
      border           : $wxp-border-normal 1px solid;
      background-color : $wxp-background-normal;
      @include background-image( linear-gradient( $normal-stop1, $normal-stop2 50%, $normal-stop3 50%, $normal-stop4 ) );
      @include box-shadow( 0 2px 4px $wxp-shadow-normal, inset 0 0 2px 2px hsla(0, 100%, 100%, 0.25) );
    }
  }
  &:hover {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    border-color: $wxp-border-hover;
    background-color: $wxp-background-hover;
    @include background-image( linear-gradient( $hover-stop1, $hover-stop2 50%, $hover-stop3 50%, $hover-stop4 ) );
    @include box-shadow( 0 2px 4px $wxp-shadow-hover, inset 0 0 2px 2px darken( hsla(0, 100%, 100%, 0.25), 10%) );
  }
  &:active {
    position: relative;
    top: 1px;
    color: hsl(0, 0%, 100%);
    border-color: $wxp-border-active;
    background-color: $wxp-background-active;
    @include background-image( linear-gradient( $active-stop1, $active-stop2 50%, $active-stop3 50%, $active-stop4 ) );
    @include box-shadow( 0 1px 2px $wxp-shadow-active, inset 0 0 2px 2px darken( hsla(0, 100%, 100%, 0.25), 15%) );
  }
}

a.button:visited {
  color: hsl(0, 0%, 100%);
}
